.gallery__button{
    width: 48px;
    height: 100%;
    float: left;
}

.galleryLeft {
    width: 50%;
    height: 1000px;
    float: left;
}

.gallery {
    width: 50%;
    height: 1000px;
    float: left;
}

.galerija{
    float: left;
    width: 400px;
    height: 400px;
}

.gallery__content-image{
    width: 400px;
    height: 400px;
    /*display: none;*/
}

.displayNone {
    display: none;
}

.gallery__content-image--active{
    display: block;
}